In [1]:
import os
import csv
import pandas as pd
import numpy as np

In [ ]:
for filename in os.listdir('C:\\Users\\Danilo\\Desktop\\EPS\\TCC\\data\\AutoSegData'):
#     Abrimos o CSV e passamos o conteudo do formato string para o formato separado por virgulas
    df = pd.read_csv('C:\\Users\\Danilo\\Desktop\\EPS\\TCC\\data\\AutoSegData\\'+filename, sep=",", decimal=",")
    
#     Alguns CSVs vem com formato errado. Aqui corrigimos o formato
    try:
        df = pd.concat([df.iloc[:,0].str.split(',', expand=True).rename(columns=dict(zip([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21], df.columns[0].split(',')))), df.iloc[:,1:]], axis=1)
    except:
        pass
    
#     Alguns CSVs vem com algumas colunas com tipos int e str. Passamos tudo para str a principio
    df['REGIAO'] = df['REGIAO'].astype(str)
    df['ANO_MODELO'] = df['ANO_MODELO'].astype(str)
    df['COD_MODELO'] = df['COD_MODELO'].astype(str)
    
#     Deletamos linhas completamente vazias
    try:
        df.dropna(how = 'all', inplace=True)
    except:
        pass
    
#     Deletamos linhas em que não foi informado a categoria do veiculo
    try:
        df['COD_TARIF'].replace(' ', np.nan, inplace=True)
        df.dropna(subset=['COD_TARIF'], inplace=True)
    except:
        pass
    
#     Retiramos as observações em que a categoria do veiculo era 'Veiculo de carga'
    try:
        df.drop([4], inplace=True)
    except:
        pass
    
#     Retiramos as observações em que a categoria do veiculo era 'Motocicleta'
    try:
        df.drop([5], inplace=True)
    except:
        pass
    
#     Retiramos as observações em que a categoria do veiculo era 'Onibus'
    try:
        df.drop([6], inplace=True)
    except:
        pass
    
#     Retiramos as observações em que a categoria do veiculo era 'Outros'
    try:
        df.drop([9], inplace=True)
    except:
        pass
    
    df.to_csv('C:\\Users\\Danilo\\Desktop\\EPS\\TCC\\data\\AutoSegData\\AutoSegDataBR\\1'+filename, sep=",", index=False)

In [4]:
df = pd.read_csv('D:\\Danilo\\Desktop\\EPS\\TCC\\data\\AutoSegData\\AutoSegDataBR\\1arq_casco_comp_20182.csv', sep=",", decimal=",")

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df

,COD_TARIF,REGIAO,COD_MODELO,ANO_MODELO,SEXO,IDADE,EXPOSICAO1,PREMIO1,EXPOSICAO2,PREMIO2,...,INDENIZ1,FREQ_SIN2,INDENIZ2,FREQ_SIN3,INDENIZ3,FREQ_SIN4,INDENIZ4,FREQ_SIN9,INDENIZ9,ENVIO
0,3,37,022104-0,2016,F,4,0.8986301422119141,2144.27325439453,0,0,...,0,0,0,0,0,0,0,0,0,2019A
1,3,13,022130-9,2016,M,2,0.5945205464959139,983.708282470703,0,0,...,0,0,0,0,0,0,0,0,0,2019A
2,1,27,001453-2,2016,M,2,1.0082191228866602,3278.81958007813,0,0,...,0,0,0,0,0,0,0,0,0,2019A
3,1,17,005243-4,2006,M,4,0.0136986300349236,9.38524627685547,0,0,...,0,0,0,0,0,0,0,0,0,2019A
4,1,02,001266-1,0,F,2,1.0082191228866602,653.551910400391,0,0,...,0,0,0,0,0,0,0,0,0,2019A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965367,1,14,004415-6,2019,F,4,0.706849299371243,716.5967407226559,0,0,...,0,0,0,0,0,0,0,0,0,2019A
2965368,2,11,010028-5,2007,M,3,2.01917803287506,5038.0020904541,0,0,...,0,0,0,1,49680,0,0,2,112,2019A
2965369,7,39,003311-1,2013,0,0,0.32602739334106395,459.418029785156,0,0,...,0,0,0,0,0,0,0,0,0,2019A
2965370,1,29,025156-9,2011,M,5,0.504109561443329,641.989074707031,0,0,...,0,0,0,0,0,0,0,0,0,2019A
2965371,1,08,024106-7,2006,M,3,1.1397259831428501,1429.8908538818398,0,0,...,0,0,0,0,0,0,0,1,284,2019A