In [1]:
import os
import csv
import pandas as pd
import numpy as np

pd.set_option("display.precision", 35)

In [2]:
df = pd.read_csv('D:\\Danilo\\Desktop\\EPS\\TCC\\data\\SES\\SES_UF2.csv', sep=";", decimal=",", dtype={'coenti': 'int', 'damesano': 'str', 'ramos': 'int', 'UF': 'str', 'premio_dir': 'float'})

In [3]:
df['UF'] = df['UF'].str.upper()

In [4]:
df.drop(df[(df.UF != 'SP')].index, inplace=True)

In [5]:
df.drop(['coenti', 'ramos', 'premio_ret', 'sin_dir', 'prem_ret_liq', 'gracodigo', 'salvados', 'recuperacao'], axis=1, inplace=True)

In [6]:
df['damesano'] = pd.to_datetime(df['damesano'], format='%Y%m').dt.strftime('%Y%m')

In [7]:
df.drop(df[(df.damesano <= '200706')].index, inplace=True)

In [8]:
df.drop(df[(df.damesano >= '201901')].index, inplace=True)

In [9]:
df['damesano'] = df['damesano'].astype(int)

In [13]:
df2 = df.groupby([df.damesano // 100, df.damesano%100 > 6]).premio_dir.sum().to_frame('Premio_Total').rename_axis(['Ano', 'Semestre']).rename(('1', '2').__getitem__, level=1).reset_index()

In [14]:
df2

     Ano Semestre                     Premio_Total
0   2007        2  15280549553.9599819183349609375
1   2008        1  15827626232.4367237091064453125
2   2008        2  16859710892.2722167968750000000
3   2009        1  17224900673.3699569702148437500
4   2009        2  20000961717.3357467651367187500
5   2010        1  19227201601.9496612548828125000
6   2010        2  23968038546.7799568176269531250
7   2011        1  24463683903.4334335327148437500
8   2011        2  26403858611.6878890991210937500
9   2012        1  28746197911.3649101257324218750
10  2012        2  31996078299.2090721130371093750
11  2013        1  33584639841.4083251953125000000
12  2013        2  33337058323.7437705993652343750
13  2014        1  34482465637.4549407958984375000
14  2014        2  38797392223.2467803955078125000
15  2015        1  38619794985.4314880371093750000
16  2015        2  40091744037.6344375610351562500
17  2016        1  40579908062.3494186401367187500
18  2016        2  46242379288.6685714721679687500
19  2017        1  42650653057.2463836669921875000
20  2017        2  46602764202.9273834228515625000
21  2018        1  41407349219.6795425415039062500
22  2018        2  43280715500.0593261718750000000

In [15]:
df2.to_csv('D:\\Danilo\\Desktop\\EPS\\TCC\\data\\AutoSegData\\premios_x_sem.csv', sep=",", index=False)